body {

}

.input-item {
    padding-bottom: 10px;
}

.cute-icon {
    background: url('../icons/knife.png');
    height: 24px;
    width: 24px;
    /* display: block; */
  }

.spaced-paragraph {
    margin-top: 10px;
    margin-bottom: 10px;
}